{% extends 'base.html' %}


{% block header_text %}To-Do list{% endblock %}
{% block form_action %}
    {{ url('view_list', kwargs={'pk': list.id}) }}
{% endblock %}

{% block table %}
    <div>List owner:
        {% if list.owner and list.owner.email %}
            <span id="id_list_owner">{{ list.owner.email }}</span>
        {% else %}
            <span id="id_list_owner">self owned list.</span>
        {% endif %}
    </div>
    <table id="id_list_table" class="table">

    </table>
{% endblock %}


{% block share_form %}
    <form method="POST" action="{{ url('share_list', kwargs={'pk': list.id}) }}">
        {{ csrf_input }}
        <span>Share:</span>
        <input class="form-control"
               name="sharee"
               type="text"
               placeholder="your-friend@example.com"
        />
    </form>
{% endblock %}

{% block shared_list %}
    <span>Shared with:</span>
    <ul class="list-sharee">
        {% for sharee in list.shared_with.all() %}
            <li>{{ sharee.email }}</li>
        {% endfor %}
    </ul>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function() {
            window.TddLists.initialize({
                listApiUrl: "{{ url('list-detail', kwargs={'pk': list.id}) }}",
                itemsApiUrl: "{{ url('item-list') }}",
                listId: {{ list.id }},
            });
        });
    </script>
{% endblock scripts %}
